<div class="show-container">
    <div class="cocktail-card">
        <div class="cocktail-heading"><%= @cocktail.name%></div>
        <div class="ingredients">Ingredients</div>
        <div class="description">
            <% @cocktail.doses.each do |dose|  %>
            <%= dose.description %> <%= dose.ingredient.name %><br>
            <div class="instructions">
                <%= dose.instruction %>
            </div>
            <% end %>
        </div>
    </div>
</div>

<%= link_to "Home", cocktails_path %>
<%= link_to "Add a new ingredient", new_cocktail_dose_path(@cocktail) %>