<h1>Add a new dose</h1>

<%= simple_form_for [@cocktail, @dose] do |f|  %>
<%= f.input :description %>
<%= f.association :ingredient %>
<%= f.input :instruction %>
<%= f.button :submit , class: "btn btn-primary" %>
<% end %>
<%= link_to "Cancel", cocktails_path  %>
<%= link_to "Go to cocktail", cocktail_path(@cocktail) %>